.classes {
  &__links {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    @include shadow-box;
  }

  &__images {
    width: 100%;
  }

  &__names {
    color: $color-dark;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none; // nefunguje -> proÄ?
    text-align: center;
  }
}

.class {
  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 60px;
    margin: 0.5em;
  }
}