/* ---------- styles for section Kontakty ---------- */

.contact {
  text-align: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__staff {
    margin: 2em;
  }

  &__class {
    flex-basis: 16%;
    min-width: 200px;
    @include shadow-box;
    padding: 0.5em;
    margin: 1em;
  }

  &__link {
    color: $color-dark;
  }

  &__image {
    width: 100px;
    display: block;
    margin: 1em auto;
  }

  &__sub-heading {
    margin: 1em 0 0.5em 0;
    font-weight: 600;
  }

  &__employee {
    margin: 0;
  }
}

.mt {
  margin-top: 1em;
}