.footer {
  background-color: $color-primary;
}

.copyright {
  color: $color-light;
  display: block;
  text-align: center;
  padding: 1em;
}

/* vyřešit, že footer není při krátkém obsahu na větších obrazovkách úplně dole */