.footer {
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
}

.copyright,
.attribution {
  color: hsl(0, 0%, 100%);
  padding: 1em;

  &__link {
    color: hsl(0, 0%, 100%);

    &:hover {
      color: hsl(0, 0%, 100%);
    }
  }
}
