/* ---------- styles for section Pro rodiče - Zápis ---------- */

.enrolment {
  
  &__year,
  &__holidays {
    @include shadow-box;
    padding: 0 1em;
    margin-bottom: 1em;
    display: flex;
  }

  &__main {
    flex-basis: 60%;
    padding-right: 2em;
  }

  &__aside {
    flex-basis: 36%;
    padding-left: 2em;
    margin: 1em 0;
    border-left: 1px solid grey;

    h3 {
      margin: 0.75em 0;
    }
  }

  &__calendar {
    display: flex;
    align-items: center;
    width: 320px;
    @include shadow-box;
    margin: 1em 0;
  }

  &__holidays {
    &--relevant {
      background-color: $color-primary-light;
    }

    &--important {
      font-weight: 600;
    }
  }
}

.date {
  background-color: $color-primary;
  color: white;
  font-weight: 600;
  text-align: center;
  width: 128px;
  padding: 1em;
  border-radius: 4px 0 0 4px;

  &__day {
    font-size: 3em;
    margin: 0;
  }

  &__month {
    margin: 0;
  }

  &__text {
    padding: 1em;
  }
}

/* ---------- styles for section Pro rodiče - Oblečení do MŠ ---------- */

.clothing {
  &-container {
    display: flex;
    justify-content: space-between;
  }

  &__type {
    @include shadow-box;
    flex-basis: 32%;
    margin: 1em 0;
    padding: 1em;

    h3 {
      text-align: center;
    }
  }

  &__heading {
    display: flex;
    justify-content: center;
  }

  &__icon {
    margin: 0 0.5em 1em 0.5em;
  }
}

/* ---------- styles for section Pro rodiče - Rady rodičům ---------- */


.advice {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__type {
    @include shadow-box;
    flex-basis: 48%;
    margin: 1em 0;
    padding: 1em;

    h3 {
      text-align: center;
    }
  }

  &__heading {
    display: flex;
    justify-content: center;
  }

  &__icon {
    margin: 0 0.5em 1em 0.5em;
  }
}

/* ---------- styles for section Pro rodiče - Platby ---------- */

.payment {
  .table {
    text-align: center;
  }

  &__th--wider {
    max-width: 180px;
    text-align: left;
  }
  
  th:last-child, 
  td:last-child {
    background-color: $color-primary-light;
  }
}

@media screen and (min-width: 1080px) {
  .payment {
    &__th--wider {
      width: auto;
    }
  }
}