.enrolment {
  
  &__year,
  &__holidays {
    @include shadow-box;
    margin-bottom: 1em;
    display: flex;
  }

  &__main {
    flex-basis: 60%;
  }

  &__calendar {
    display: flex;
    align-items: center;
    text-align: center;
    width: 320px;
    @include shadow-box;
    padding: 0;
    margin: 1em 0;
  }

  &__aside {
    flex-basis: 36%;
    margin: 3em 0 0 3em;
    padding-left: 2em;
    border-left: 1px solid grey;
    text-align: left;
  }

  &__link {
    display: block;
  }

  &__holidays {

    table,
    th,
    td {
      border: 1px solid $color-dark;
      border-collapse: collapse;
      padding: 0 0.5em;
    }

    &--relevant {
      background-color: $color-primary-light;
    }

    &--important {
      font-weight: 600;
    }
  }
}

.date {
  background-color: $color-primary;
  color: white;
  font-weight: 600;
  text-align: center;
  width: 128px;
  padding: 1em;
  border-radius: 4px 0 0 4px;

  &__day {
    font-size: 3em;
    margin: 0;
  }

  &__month {
    margin: 0;
  }

  &__text {
    padding: 1em;
  }
}

.clothing {
  &-container {
    display: flex;
    justify-content: space-between;
  }

  &__type {
    @include shadow-box;
    flex-basis: 32%;
    text-align: left;

    h3 {
      text-align: center;
    }
  }

  &__heading {
    display: flex;
    justify-content: center;
  }

  &__icon {
    width: 24px;
    margin: 1em 1em 0 1em;
  }
}

.advice {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__type {
    @include shadow-box;
    margin: 1em;
    flex-basis: 44%;
    text-align: left;

    h3 {
      text-align: center;
    }
  }

  &__heading {
    display: flex;
    justify-content: center;
  }

  &__icon {
    width: 24px;
    margin: 1em 1em 0 1em;
  }
}

.payment {
  table,
  th,
  td {
    border: 1px solid $color-dark;
    border-collapse: collapse;
    padding: 0.5em;
  }

  th:last-child, 
  td:last-child {
    background-color: $color-primary-light;
  }
}