.header {
  display: grid;
  grid-template-columns: 120px 1fr 1fr 240px;
  justify-items: center;
  height: 120px;
}

.logo-link {
  width: 100px;
  margin: auto;
  grid-column: 1 / 2;
}

.logo {
  width: 100%;
}

.char-img {
  grid-column: 2 / 4;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  img {
    height: 88px;
  }
}

.contact-details {
  grid-column: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__icon {
    width: 24px;
    transform: translateY(25%);
    // šlo by přebarvit svg loga na primární barvu?
  }

  &__email {
    color: $color-dark;
    margin: 0.5em;
  }

  &__address {
    display: inline-block;
    margin: 0.5em;
  }
}