/* ---------- styles for header (school logo, classes images, contact details) ---------- */

.header {
  display: grid;
  grid-template-columns: 120px 1fr 1fr 240px;
  justify-items: center;
}

.logo-link {
  width: 100px;
  margin: auto;
}

.logo {
  width: 100%;
}

.char-img {
  grid-column: 2 / 4;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  img {
    width: 100px;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__email {
    color: $color-dark;
    padding: 0.5em;
  }

  &__address {
    display: inline;
    padding: 0.5em;
  }
}