/* ---------- styles for main page ---------- */

.about-us {
  text-align: justify;
  
  &__image {
    float: right;
    width: 20%;
    margin-left: 1em;
    @include shadow-box;
  }
}

.news-meal {
  display: flex;
  padding-top: 1em;

  section {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: 24px repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr );
    grid-gap: 0.5em;
    align-items: center;
  }

  &__heading {
    grid-column: 2 / 5;
    justify-self: start;
    margin: 0;
  }

  &__link {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }
}
