$color-primary: rgb(255, 152, 51);
$color-primary-light: hsl(30, 100%, 80%);
$color-primary-dark: hsl(30, 100%, 50%);
$color-dark: rgb(48, 48, 48);

$font-headings: 'Roboto Condensed', sans-serif;
$font-text: 'Open Sans', sans-serif;