@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto+Condensed:wght@400;700&display=swap");
.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr 1fr 240px;
      grid-template-columns: 120px 1fr 1fr 240px;
  justify-items: center;
  height: 120px;
}

.logo-link {
  width: 100px;
  margin: auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.logo {
  width: 100%;
}

.char-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.char-img img {
  height: 88px;
}

.contact-details {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-details__icon {
  width: 24px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.contact-details__email {
  color: #333333;
  margin: 0.5em;
}

.contact-details__email:hover, .contact-details__email:focus {
  color: #ff8000;
}

.contact-details__address {
  display: inline-block;
  margin: 0.5em;
}

nav {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.nav {
  background-color: #ff9933;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #e6e6e6;
  padding: 1em 2em;
}

.nav__link:hover {
  background-color: #ff8000;
}

.sub-nav {
  background-color: #ff9933;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
}

.sub-nav__link {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #e6e6e6;
  width: 100%;
  padding: 0.75em 2em;
}

.sub-nav__link:hover {
  background-color: #ff8000;
}

.dn {
  display: none;
}

.nav__item:hover .sub-nav {
  display: block;
}

.main {
  padding: 1em 2em;
  text-align: justify;
  line-height: 1.5;
}

.main--home {
  min-height: 70vh;
}

.about-us__image {
  float: right;
  width: 20%;
  margin-left: 1em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.news-meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
}

.news-meal section {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px (1fr)[3];
      grid-template-columns: 24px repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5em;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-meal__icon-link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.news-meal__icon {
  width: 24px;
}

.news-meal__heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: start;
      justify-self: start;
  margin: 0;
}

.news-meal__link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  color: #ff9933;
  font-weight: 600;
}

.news-meal__link:hover {
  color: #ff8000;
}

.interests__image {
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.interests__image--left {
  width: 32%;
  float: left;
  margin-right: 1em;
}

.interests__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interests__gallery-item {
  width: 24%;
  overflow: hidden;
}

.interests__gallery img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.interests__gallery img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.day-mode__section {
  margin-top: 2em;
}

.day-mode__table th {
  width: 120px;
  text-align: center;
  vertical-align: top;
}

.day-mode__list {
  margin-top: 0;
}

.svp__table {
  margin-bottom: 2em;
}

.svp__table th,
.svp__table td {
  border: 1px solid #333333;
  padding: 0.5em;
  text-align: center;
  width: 16%;
  height: 64px;
}

.svp__table tbody tr:nth-child(1) {
  background-color: #ffb366;
}

.svp__table tbody tr:nth-child(2) {
  background-color: #ad661f;
  color: #e6e6e6;
}

.svp__table tbody tr:nth-child(3) {
  background-color: #6c4013;
  color: #e6e6e6;
}

.svp__table tbody tr:nth-child(4) {
  background-color: #13406c;
  color: #e6e6e6;
}

.svp__table tbody tr:nth-child(5) {
  background-color: #1f66ad;
  color: #e6e6e6;
}

.svp__table tbody tr:nth-child(6) {
  background-color: #5299e0;
}

.svp__table tbody tr:nth-child(7) {
  background-color: #7de8e8;
}

.svp__table tbody tr:nth-child(8) {
  background-color: #b3e87d;
}

.svp__table tbody tr:nth-child(9) {
  background-color: #ffff80;
}

.svp__table tbody tr:nth-child(10) {
  background-color: #ffb366;
}

.svp__logos {
  width: 60%;
  margin: 1em 20%;
}

/* nejsou ty barvy moc bláznivé? */
.footer {
  background-color: #ff9933;
}

.copyright {
  color: #e6e6e6;
  display: block;
  text-align: center;
  padding: 1em;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

/* generic styles for headings */
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5em;
  color: #ff9933;
  text-align: center;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3em;
  color: #ff9933;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
  color: #333333;
  margin-bottom: 0;
}
/*# sourceMappingURL=styles.css.map */