@import "variables",
        "header",
        "nav",
        "main-page",
        "news",
        "about-school",
        "for-parents",
        "meal",
        "classes",
        "contact",
        "footer";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto+Condensed:wght@400;700&display=swap');

html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
  margin: 0;
  font-family: $font-text;
  color: $color-dark;
}

/* ---------- generic styles for headings ---------- */

h1 {
  font-family: $font-headings;
  font-size: 1.5em;
  color: $color-primary;
  text-align: center;
}

h2 {
  font-family: $font-headings;
  font-size: 1.3em;
  color: $color-primary;
}

h3 {
  font-family: $font-headings;
  font-size: 1.1em;
  color: $color-dark;
  margin-bottom: 0;
}

/* ---------- generic styles for links ---------- */

a {
  color: $color-primary;

  &:hover {
    color: $color-primary-dark;
  }
}

/* ---------- generic styles for iframes ---------- */

iframe {
  border: none;
}