<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="app" class="container">
    <header class="header">
      <a class="logo-link" href="/index.html">
        <img class="logo" src="/images/logo.png" alt="logo">
      </a>
      <div class="char-img"> <!-- obrázky povedou na podstránku jednotlivých tříd -->
        <a href="#"><img src="/images/krtecek.png" alt="krteček"></a>
        <a href="#"><img src="/images/cvrcek.png" alt="cvrček"></a>
        <a href="#"><img src="/images/rakosnicek.gif" alt="rákosníček"></a>
        <a href="#"><img src="/images/makova-panenka.jpg" alt="maková panenka"></a>
        <a href="#"><img src="/images/broucci.png" alt="brouček"></a>
      </div>
      <div class="contact-details">
        <div>
          <img class="contact-details__icon" src="/images/email.svg">
          <a class="contact-details__email" href="mailto:msparmska@seznam.cz">msparmska@seznam.cz</a>
        </div>
        <div>
          <img class="contact-details__icon" src="/images/address.svg">
          <p class="contact-details__address">Parmská 388, Praha 10</p> 
          <!-- při kliknutí na adresu modal okno s mapou? + cursor: pointer -->
        </div>
      </div>
    </header>