<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div id="app">
    <header class="header">
      <a class="logo-link" href="/index.html">
        <img class="logo" src="/images/logo.png" alt="logo">
      </a>
      <div class="char-img">
        <a href="/tridy/broucci"><img src="/images/broucci.jpg" alt="brouček"></a>
        <a href="/tridy/cvrcek"><img src="/images/cvrcek.jpg" alt="cvrček"></a>
        <a href="/tridy/krtecek"><img src="/images/krtecek.jpg" alt="krteček"></a>
        <a href="/tridy/makova-panenka"><img src="/images/makova-panenka.jpg" alt="maková panenka"></a>
        <a href="/tridy/rakosnicek"><img src="/images/rakosnicek.jpg" alt="rákosníček"></a>
      </div>
      <div class="contact-details">
        <div>
          <img class="contact-details__icon" src="/images/email.svg">
          <a class="contact-details__email" href="mailto:msparmska@seznam.cz">msparmska@seznam.cz</a>
        </div>
        <div>
          <img class="contact-details__icon" src="/images/address.svg">
          <p class="contact-details__address">Parmská 388, Praha 10</p> 
          <!-- při kliknutí na adresu modal okno s mapou? + cursor: pointer -->
        </div>
      </div>
    </header>