<aside class="class__content--aside">
  <h2>Fotogalerie</h2>
  <p>Obsah je chráněn. Pokud jej chcete zobrazit, zadejte prosím heslo.</p>
  <form>
    <div class="password">
      <input class="password-input" type="password">
      <img class="password-visible" src="/images/eye-open.svg" alt="">
    </div>
    <button class="password-button" type="submit">Odemknout</button>
  </form>
</aside>