<nav>
  <ul class="nav">
    <li><a class="nav__link" href="/aktuality">Aktuality</a></li>
    <li class="nav__item">
      <a class="nav__link" id="nav__link--kindergarten" href="/o-skolce/koncepce">O školce</a>
      <ul class="sub-nav dn" id="sub-nav--kindergarten">
        <li><a class="sub-nav__link" href="/o-skolce/koncepce">Koncepce školky</a></li>
        <li><a class="sub-nav__link" href="/o-skolce/zajmy">Zájmové zaměření</a></li>
        <li><a class="sub-nav__link" href="/o-skolce/vnitrek">Jak to u nás vypadá</a></li>
        <li><a class="sub-nav__link" href="/o-skolce/denni-rezim">Režim dne</a></li>
        <li><a class="sub-nav__link" href="/o-skolce/svp">Školní vzdělávací program</a></li>
        <li><a class="sub-nav__link" href="/o-skolce/dokumenty">Úřední dokumenty</a></li>
      </ul>
    </li>
    <li class="nav__item">
      <a class="nav__link" id="nav__link--parents" href="/pro-rodice/zapis">Pro rodiče</a>
      <ul class="sub-nav dn" id="sub-nav--parents">
        <li><a class="sub-nav__link" href="/pro-rodice/zapis">Zápis</a></li>
        <li><a class="sub-nav__link" href="/pro-rodice/obleceni">Oblečení do MŠ</a></li>
        <li><a class="sub-nav__link" href="/pro-rodice/rady">Rady rodičům</a></li>
        <li><a class="sub-nav__link" href="/pro-rodice/akce">Akce pro rodiče</a></li>
        <li><a class="sub-nav__link" href="/pro-rodice/platby">Platby</a></li>
      </ul>
    </li>
    <li><a class="nav__link" href="/jidelnicek">Jídelníček</a></li>
    <li class="nav__item">
      <a class="nav__link" id="nav__link--classes" href="/tridy">Třídy</a>
      <ul class="sub-nav dn" id="sub-nav--classes">
        <li><a class="sub-nav__link" href="/tridy/broucci">Broučci</a></li>
        <li><a class="sub-nav__link" href="/tridy/cvrcek">Cvrček</a></li>
        <li><a class="sub-nav__link" href="/tridy/krtecek">Krteček</a></li>
        <li><a class="sub-nav__link" href="/tridy/makova-panenka">Maková panenka</a></li>
        <li><a class="sub-nav__link" href="/tridy/rakosnicek">Rákosníček</a></li>
      </ul>
    </li>
    <li><a class="nav__link" href="/kontakty">Kontakty</a></li>
  </ul>
</nav>