{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--classes">

  <section class="broucci">
    <h1>Broučci</h1>

    {{ content | safe }}
    
  </section>

</main>

{% include "partials/footer.njk" %}