{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--for-parents">

  <section class="clothing">
    <h1>Oblečení do mateřské školky</h1>
    <div class="clothing-container">
      <div class="clothing__type">
        <div class="clothing__heading">
          <h3>Dovnitř</h3>
          <img class="clothing__icon" src="/images/inside.svg" alt="">
        </div>
        <ul>
          <li>tričko</li>
          <li>tepláky pro chlapce, legíny pro dívky</li>
          <li>bačkory nazouvací (ne pantofle)</li>
        </ul>
      </div>
      <div class="clothing__type">
        <div class="clothing__heading">
          <h3>Na ven</h3>
          <img class="clothing__icon" src="/images/outside.svg" alt="">
        </div>
        <ul>
          <li>tepláková souprava</li>
          <li>bunda, čepice (dle počasí)</li>
          <li>vhodná obuv na běhání (dle počasí)</li>
        </ul>
      </div>
      <div class="clothing__type">
        <div class="clothing__heading">
          <h3>Náhradní oblečení (v pytli v šatně)</h3>
          <img class="clothing__icon" src="/images/locker.svg" alt="">
        </div>
        <ul>
          <li>spodní prádlo</li>
          <li>tričko</li>
          <li>punčocháče</li>
          <li>ponožky</li>
          <li>pláštěnka</li>
          <li>gumovky (v botárně)</li>
          <li>2x igelitovou tašku (na mokré věci / věci na ven)</li>
          <li>cvičební úbor (pouze pro předškolní a prostřední děti)</li>
        </ul>
      </div>
    </div>
  </section>

</main>

{% include "partials/footer.njk" %}
{% include "partials/end.njk" %}