{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--about-school">

  <section class="concept">
    <h1>Koncepce školky</h1>
    <ul>
      <li>Prvky ekologické výchovy se prolínají téměř všemi činnostmi, učitelky využívají i netradičních prostředků a akcí.</li>
      <li>Pracujeme podle učebních plánů rozdělených podle věku dítěte.</li>
      <li>Pracujeme s rámcovým programem pro vzdělávání.</li>
      <li>Protože jsme škola s právní subjektivitou, není žádným problémem v průběhu roku dokupovat tyto didaktické materiály, výtvarné potřeby, knihy, hračky aj.</li>
    </ul>
    <p>Pro předškolní děti máme speciální program, např. uvolňovací cviky (grafomotorické cviky), práce s knihou „Než půjdeš do školy“. V rámci spolupráce se ZŠ Veronské náměstí navštěvujeme děti v prvních třídách, účastníme se vánočních akcí, recitačních soutěží, navštěvujeme školní družinu a vzájemně se informujeme o dětech.</p>
    <p>Spolupracujeme s Lidovou školou umění.</p>
    <p>Dále běžným způsobem spolupracujeme s Obvodní pedagogicko-psychologickou poradnou pro Prahu 10.</p>
    <h2>Diagnostická péče:</h2>
    <ul>
      <li>děti přecitlivělé až úzkostlivé</li>
      <li>děti s odkladem školní docházky</li>
      <li>děti těžko navazující vztah s okolím</li>
    </ul>
    <p>Ředitelka školy má pro rodičovskou veřejnost vyhrazenou pravidelnou dobu, dle potřeb rodičů se konzultacím i drobnému výchovnému poradenství věnuje i mimo tuto dobu.</p>
  </section>

</main>

{% include "partials/footer.njk" %}
{% include "partials/end.njk" %}