{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--contact">

  <section class="contact">
    <h1>Kontakty</h1>
    
    {{ content | safe }}

  </section>

</main>

{% include "partials/footer.njk" %}