{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--contact">

  <section class="contact">
    <h1>Kontakty</h1>
    
    {{ content | safe }}

    <iframe src="https://frame.mapy.cz/zakladni?x=14.5627875&y=50.0414868&z=16&l=0&source=addr&id=9105816" frameborder="0" height="500" width="80%" title="MS Parmska mapa"></iframe>
    <!-- předělat mapu pomocí JavaScriptu -->

  </section>

</main>

{% include "partials/footer.njk" %}
{% include "partials/end.njk" %}