{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--about-school">

  <section class="day-mode">
    <h1>Režim dne</h1>
    <section class="day-mode__section">
      <h2>Předškoláci (5 - 7 let)</h2>
      <table class="table table-sm table-borderless day-mode__table">
        <tr>
          <th scope="row">6.30 – 8.30</th>
          <td>společenské hry, individuální práce s dětmi, stimulační aktivity, cvičení smyslů, výtvarné a pracovní činnosti</td>
        </tr>
        <tr>
          <th scope="row">8.30 – 9.00</th>
          <td>ranní cvičení a pohybové hry</td>
        </tr>
        <tr>
          <th scope="row">9.00 – 9.30</th>
          <td>jazyková chvilka, hygiena a svačina</td>
        </tr>
        <tr>
          <th scope="row">9.30 – 10.15</th>
          <td>matematická představivost, hudební, dramatické, jazykové, literární a výtvarné aktivity dle Školního vzdělávacího programu</td>
        </tr>
        <tr>
          <th scope="row">10.15 – 11.40</th>
          <td>pobyt venku</td>
        </tr>
        <tr>
          <th scope="row">12.00 – 12.30</th>
          <td>oběd (odchod dětí domů)</td>
        </tr>
        <tr>
          <th scope="row">12.30 – 14.30</th>
          <td>odpolední zájmové činnosti (kroužky)</td>
        </tr>
        <tr>
          <th scope="row">14.30 – 14.45</th>
          <td>odpolední svačina</td>
        </tr>
        <tr>
          <th scope="row">14.50 – 17.00</th>
          <td>individuální hry, za hezkého počasí pobyt na školní zahradě</td>
        </tr>
      </table>
      <h3>Odpolední činnosti:</h3>
      <ul class="day-mode__list">
        <li>práce s knihou Než půjdeš do školy</li>
        <li>grafomotorická cvičení (správné držení tužky, pracovní listy)</li>
        <li>individuální práce s dětmi s odkladem školní docházky</li>
        <li>logopedie – rozvoj řeči</li>
        <li>taneční a hudební průprava – citové prožívání</li>
        <li>dramatický kroužek – rozvoj paměti a myšlení</li>
        <li>výtvarné a pracovní činnosti – nové techniky</li>
        <li>výuka cizího jazyka – angličtina</li>
        <li>flétna – dechová cvičení</li>
        <li>pohybové hry a soutěže – cvičení obratnosti a motoriky</li>
      </ul>
      <h3>Zdravotní program:</h3>
      <ul class="day-mode__list">
        <li>jízda na kole – jaro a podzim</li>
        <li>saunování ve vlastní sauně (1x týdně)</li>
        <li>plavání (1x týdně únor – červen)</li>
      </ul>
      <h3>Další aktivity</h3>
      <ul class="day-mode__list">
        <li>výlety za poznáním</li>
        <li>výlety po Praze</li>
        <li>celodenní výlety</li>
        <li>školy v přírodě</li>
        <li>společné akce pro rodiče s dětmi (besídky, zahradní slavnosti, karnevaly…)</li>
      </ul>
    </section>

    <section class="day-mode__section">
      <h2>Děti prostřední (4 roky)</h2>
      <table class="table table-sm table-borderless day-mode__table">
        <tr>
          <th scope="row">6.30 – 8.30</th>
          <td>hravé činnosti, cvičení motoriky, rozvoj činnosti, rozvoj sociálních vztahů, poznávání světa, nácvik sebeobsluhy</td>
        </tr>
        <tr>
          <th scope="row">8.30 – 9.00</th>
          <td>jazyková chvilka – ranní kruh, pohybové hry a soutěže</td>
        </tr>
        <tr>
          <th scope="row">9.00 – 9.30</th>
          <td>hygiena a svačina</td>
        </tr>
        <tr>
          <th scope="row">9.30 – 10.00</th>
          <td>hudební, jazykové, výtvarné, literární a pracovní aktivity dle Školního vzdělávacího programu</td>
        </tr>
        <tr>
          <th scope="row">10.00 – 11.30</th>
          <td>pobyt venku</td>
        </tr>
        <tr>
          <th scope="row">12.00 – 12.30</th>
          <td>oběd (odchod dětí domů)</td>
        </tr>
        <tr>
          <th scope="row">12.45 – 14.30</th>
          <td>poslech pohádek, odpolední odpočinek</td>
        </tr>
        <tr>
          <th scope="row">14.30 – 14.45</th>
          <td>odpolední svačina</td>
        </tr>
        <tr>
          <th scope="row">15.00 – 17.00</th>
          <td>individuální hry, za hezkého počasí pobyt na školní zahradě</td>
        </tr>
      </table>
      <h3>Zdravotní program:</h3>
      <ul class="day-mode__list">
        <li>saunování ve vlastní sauně (1x týdně)</li>
        <li>pohybové aktivity</li>
      </ul>
      <h3>Další aktivity</h3>
      <ul class="day-mode__list">
        <li>výlety půldenní, přiměřené věku</li>
        <li>společné akce pro rodiče s dětmi (besídky, zahradní slavnosti, karnevaly…)</li>
      </ul>
    </section>

    <section class="day-mode__section">
      <h2>Děti nejmladší (3 roky)</h2>
      <p>snížený počet dětí ve třídě (zapsáno 20 dětí)</p>
      <p>adaptační program – možnost domluvy s paní učitelkou ohledně kratší doby, kterou dítě v mateřské škole stráví</p>
      <table class="table table-sm table-borderless day-mode__table">
        <tr>
          <th scope="row">8.00 – 8.45</th>
          <td>individuální hry, dechová a artikulační cvičení</td>
        </tr>
        <tr>
          <th scope="row">8.45 – 9.00</th>
          <td>tělovýchovná chvilka</td>
        </tr>
        <tr>
          <th scope="row">9.00 – 9.30</th>
          <td>hygiena a svačina</td>
        </tr>
        <tr>
          <th scope="row">9.30 – 10.00</th>
          <td>jazykové aktivity, čtení pohádek, hudební, výtvarné a pracovní činnosti přiměřené věku dle Školního vzdělávacího programu</td>
        </tr>
        <tr>
          <th scope="row">10.00 – 11.30</th>
          <td>pobyt venku</td>
        </tr>
        <tr>
          <th scope="row">11.30 – 12.00</th>
          <td>hygiena a oběd (odchod dětí domů)</td>
        </tr>
        <tr>
          <th scope="row">12.45 – 14.30</th>
          <td>poslech pohádek, odpolední odpočinek</td>
        </tr>
        <tr>
          <th scope="row">14.30 – 14.45</th>
          <td>odpolední svačina</td>
        </tr>
        <tr>
          <th scope="row">15.00 – 17.00</th>
          <td>individuální hry, za hezkého počasí pobyt na školní zahradě</td>
        </tr>
      </table>
    </section>
  </section>

</main>

{% include "partials/footer.njk" %}
{% include "partials/end.njk" %}