{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--about-school">

  <section class="interior">
    <h1>Jak to u nás vypadá</h1>
    <iframe src="https://www.msparmska.cz/wp-content/panorama/index.html" frameborder="0" height="550" width="100%" title="MS Parmska panorama"></iframe>
  </section>

</main>

{% include "partials/footer.njk" %}
{% include "partials/end.njk" %}