{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--classes">

  <section class="krtecek">
    <div class="class__heading">
      <img class="class__image" src="/images/krtecek.jpg" alt="">
      <h1>Krteček</h1>
    </div>

    <div class="class__content">
      {{ content | safe }}
      {% include "partials/locked.njk" %}
    </div>
    
  </section>

</main>

{% include "partials/footer.njk" %}