{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--classes">

  <section class="makova-panenka">
    <h1>Maková panenka</h1>
    
  </section>

</main>

{% include "partials/footer.njk" %}