{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--classes">

  <section class="makova-panenka">
    <div class="class__heading">
      <img class="class__image" src="/images/makova-panenka.jpg" alt="">
      <h1>Maková panenka</h1>
    </div>
    
    {{ content | safe }}

  </section>

</main>

{% include "partials/footer.njk" %}