{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--for-parents">

  <section class="payment">
    <h1>Platby</h1>
    
    {{ content | safe }}

  </section>

</main>

{% include "partials/footer.njk" %}
{% include "partials/end.njk" %}