{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--photogallery">

  <section class="photogallery">

  {{ content | safe }}

  </section>

</main>

{% include "partials/footer.njk" %}
{% include "partials/end.njk" %}