{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--classes">

  <section class="rakosnicek">
    <div class="class__heading">
      <img class="class__image" src="/images/rakosnicek.jpg" alt="">
      <h1>Rákosníček</h1>
    </div>

    <div class="class__content">
      {{ content | safe }}
      {% include "partials/locked.njk" %}
    </div>

  </section>

</main>

{% include "partials/footer.njk" %}