{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--classes">

  <section class="rakosnicek">
    <h1>Rákosníček</h1>
    
    {{ content | safe }}

  </section>

</main>

{% include "partials/footer.njk" %}