{% include "partials/header.njk" %}
{% include "partials/nav.njk" %}

<main class="main main--about-school">

  <section class="svp">
    <h1></h1>
    
  </section>

</main>

{% include "partials/footer.njk" %}